$opacity: 0.25;

body {
  background: #9db3b9;
  font-size: 2vh;
}

#gameboy {
  width: 19.8em;
  height: 33.1em;
  background: #e6e7e8;
  border-radius: 1em;
  border-bottom-right-radius: 4em;
  position: relative;
  border: 0.1em solid #f3fbf5;
  transition: 300ms all linear;
}

#header-v {
  width: 0.4em;
  height: 1.7em;
  background: #d8d9db;
  position: absolute;
  top: -0.1em;
  border-top: 0.2em solid #9db3b9;
  border-left: 0.1em solid #c0c2c4;
  left: 1.4em;
  z-index: 10;
  & + & {
    left: 17.5em;
  }
}

#header-h {
  width: 100%;
  height: 0.4em;
  background: #d8d9db;
  border-top: 0.1em solid #c0c2c4;
  border-bottom: 0.1em solid #fff;
  position: absolute;
  top: 1.7em;
}

#header-circle {
  width: 3em;
  height: 0.7em;
  background: #d8d9db;
  border-radius: 1em;
  border: 0.1em solid darken(#d8d9db, 5%);
  border-top-color: darken(#d8d9db, 15%);
  border-bottom-color: #fff;
  position: absolute;
  left: 2.3em;
  top: 0.3em;
  z-index: 5;
  #footer-circle & {
    top: auto;
    left: 7.5em;
    bottom: 0.4em;
  }
}

#v-bit,
#v-bit2,
#v-bit3 {
  width: 0.2em;
  height: 0.5em;
  position: absolute;
  background: #d8d9db;
  border-top: 0.2em solid #9db3b9;
  border-left: 0.1em solid #c0c2c4;
  top: -0.1em;
  left: 2.7em;
  #footer-circle & {
    top: auto;
    left: 9.1em;
    bottom: -0.1em;
    border-top: 0em;
    border-bottom: 0.2em solid #9db3b9;
  }
}

#v-bit2 {
  left: 3.2em;
  #footer-circle & {
    left: 9.6em;
  }
}

#v-bit3 {
  left: 3.7em;
  #footer-circle & {
    left: 10.1em;
  }
}

#screen-outer {
  background: #77787b;
  width: 17em;
  height: 13em;
  position: absolute;
  left: 1.3em;
  top: 3em;
  border-radius: 1em;
  border-bottom-right-radius: 3em;
  border: 0.1em solid #5d5e60;
}

#screen-inner {
  width: 16.4em;
  height: 12.4em;
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  background: #808285;
  border-radius: 1em;
  border-bottom-right-radius: 3em;
}

#screen-display {
  width: 11.3em;
  height: 9.7em;
  background: white;
  background-size: 100% 100%;
  border-top: 0.1em solid #5d5e60;
  //border-left:0.1em solid #636650;
  border-bottom: 0.1em solid #95979a;
  //border-right:0.1em solid darken(#6d793c, 2%);
  margin: 0px auto;
  margin-top: 1.3em;
  position: relative;
  & #screen-tetris {
    width: 100%;
    height: 100%;
    background: url("http://dsmedia.gamespy.com/ds/image/article/100/1009097/game-boy-20th-anniversary-celebration-day-1-then-and-now-20090730003531407.gif")
      no-repeat left top;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity=($opacity * 100));
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
  }
  & #screen-display-triangle {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 9.7em 10.7em;
    border-color: transparent transparent #616f30 transparent;
  }
}

#screen-top {
  width: 15.6em;
  height: 0.6em;
  position: absolute;
  top: 0.3em;
  left: 0.5em;
  & #screen-top-purple {
    width: 5.5em;
    height: 0.2em;
    border-top: 0.2em solid #7d6a83;
    border-bottom: 0.2em solid #564c65;
    float: left;
  }
  & #screen-top-text {
    width: 7.3em;
    height: 0.5em;
    float: left;
    margin-left: 0.5em;
    background: #8c8e91;
    & + #screen-top-purple {
      width: 1.7em;
      margin-left: 0.5em;
    }
  }
}

#screen-left-text {
  width: 1.7em;
  height: 0.1em;
  background: #b9bbbe;
  border: 0.1em solid #a2a4a7;
  position: absolute;
  top: 5.5em;
  left: 0.3em;
}

#screen-circle {
  width: 0.5em;
  height: 0.5em;
  //background:#4c4d51;
  //border:1px solid #3e3e41;
  border-radius: 50%;
  position: absolute;
  top: 4.5em;
  left: 0.7em;
}

.screen-on {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 230, 9, 1) 0%,
    rgba(241, 96, 109, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 230, 9, 1)),
    color-stop(100%, rgba(241, 96, 109, 1))
  ); /* safari4+,chrome */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 230, 9, 1) 0%,
    rgba(241, 96, 109, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 230, 9, 1) 0%,
    rgba(241, 96, 109, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 230, 9, 1) 0%,
    rgba(241, 96, 109, 1) 100%
  ); /* ie10+ */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 230, 9, 1) 0%,
    rgba(241, 96, 109, 1) 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#ffe609",
      endColorstr="#f1606d",
      GradientType=1
    ); /* ie6-9 */
  box-shadow: 0px 0px 0.5em #f1606d;
  border: 0.1em solid #f1606d;
}

#text {
  //display:none;
  width: 11.1em;
  height: 1.1em;
  position: absolute;
  top: 17em;
  left: 1.3em;
  &:before {
    content: " ";
    display: block;
    width: 4.5em;
    height: 0.7em;
    margin-top: 0.4em;
    background: #adaabc;
    float: left;
  }
  &:after {
    content: " ";
    display: block;
    width: 6.2em;
    height: 1.1em;
    background: #adaabc;
    float: right;
  }
}

#dpad {
  width: 6.6em;
  height: 6.6em;
  background: #cfd0d2;
  border-radius: 50%;
  border-top: 0.1em solid darken(#cfd0d2, 3%);
  border-bottom: 0.1em solid #fff;
  position: absolute;
  top: 20em;
  left: 1.1em;
  & #dpad-center {
    width: 1.9em;
    height: 1.9em;
    background: #262929;
    position: absolute;
    left: 2.4em;
    top: 2.3em;
    z-index: 999;
    &:before {
      content: " ";
      width: 1.3em;
      height: 1.3em;
      display: block;
      background: #414142;
      margin: 0.2em 0 0 0.2em;
      border-radius: 50%;
      border: 0.1em solid darken(#262929, 5%);
    }
  }
  & .dpad-top {
    width: 1.7em;
    height: 1.5em;
    position: absolute;
    background: #262929;
    top: 0.7em;
    left: 2.4em;
    -webkit-border-top-left-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    -moz-border-radius-topleft: 0.3em;
    -moz-border-radius-topright: 0.3em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border: 0.1em solid #333;
    & div {
      width: 1.3em;
      height: 0.2em;
      background: #171414;
      margin: 0px auto 0.2em auto;
      &:first-child {
        margin-top: 0.3em;
      }
    }
  }
  & .dpad-bottom {
    top: auto;
    bottom: 0.8em;
    -webkit-border-radius: 0px;
    -webkit-border-bottom-right-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomright: 0.3em;
    -moz-border-radius-bottomleft: 0.3em;
    border-radius: 0px;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }
  & .dpad-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    top: 2.4em;
    left: 0.7em;
  }
  & .dpad-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    top: 2.4em;
    left: auto;
    right: 0.6em;
  }
}

#button-container {
  width: 7.4em;
  height: 3.4em;
  background: #cfd0d2;
  border-top: 0.1em solid darken(#cfd0d2, 3%);
  border-bottom: 0.1em solid #fff;
  border-radius: 3em;
  position: absolute;
  top: 21em;
  right: 0.5em;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  & div {
    width: 2.5em;
    height: 2.5em;
    background: #2f3b32;
    border-radius: 50%;
    float: left;
    margin-top: 0.3em;
    border: 0.1em solid #ffffff;
    &:first-child {
      margin-left: 0.8em;
      margin-right: 0.5em;
    }
    &:before {
      content: " ";
      width: 2.3em;
      height: 2.3em;
      display: block;
      background: #954c74;
      border-radius: 50%;
      margin: 0.1em 0px 0px 0.1em;
      position: absolute;
    }
    &:after {
      content: " ";
      width: 2.1em;
      height: 2.1em;
      display: block;
      background: #7a255a;
      border-radius: 50%;
      margin: 0.2em 0px 0px 0.2em;
      position: absolute;
    }
  }
}

#button-text {
  //display:none;
  width: 4em;
  height: 0.7em;
  position: absolute;
  top: 25em;
  right: 0.9em;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  &:before,
  &:after {
    content: " ";
    display: block;
    width: 0.7em;
    height: 0.7em;
    background: #adaabc;
    border: 0.1em solid darken(#adaabc, 3%);
    float: left;
  }
  &:after {
    float: right;
  }
}

#start-button {
  width: 3.2em;
  height: 1.2em;
  background: #cfd0d2;
  border-top: 0.1em solid darken(#cfd0d2, 3%);
  border-bottom: 0.1em solid #fff;
  border-radius: 3em;
  position: absolute;
  left: 6.5em;
  bottom: 4.5em;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  &:before {
    content: " ";
    display: block;
    border-radius: 3em;
    background: #92969f;
    border: 0.1em solid darken(#92969f, 3%);
    margin: 0px auto;
    margin-top: 0.2em;
    width: 70%;
    height: 0.5em;
  }
  & + & {
    left: 10em;
  }
}

#bottom-right-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8em;
  height: 4em;
  border-bottom-right-radius: 4em;
  overflow: hidden;
  &:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 4em 8em;
    border-color: transparent transparent #d8d8d8 transparent;
  }
}

#bottom-right {
  width: 17.5em;
  height: 5em;
  //background:#d8d8d8;
  position: absolute;
  bottom: -1.5em;
  right: -9em;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  & div {
    width: 0.3em;
    height: 3em;
    float: left;
    margin-right: 0.8em;
    background: darken(#dcddde, 10%);
    border-left: 0.2em solid darken(#dcddde, 20%);
    border-radius: 2em;
    position: relative;
    top: -2.3em;
    &:first-child {
      margin-left: 3em;
    }
  }
}
